*, *::after, *::before {
    font-family: Roboto, "Helvetica Neue", "sans-serif";
    box-sizing: border-box;
    font-weight: normal;
}

body {
    background-color: #312e2e;
    height: 100%;
    margin: 0;
    padding: 0;
    color: whitesmoke;
}
